*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
header{
    background-color: #00050d;
    display: flex; /*Faz as divs ficar uma do lado da outra*/
    justify-content: space-between; /*Faz as divs se afastarem*/
    width: 100%;
    height: 60px;
}
.principal{
    display: flex;
    align-items: center;
    gap: 20px;
}
.principal img{
    width: 96px;
    margin-left: 35px;
    cursor: pointer; /*Aparece uma mãozinha*/
}
.principal nav{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 20px;
}
.principal nav a{
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
}
#link{
    display: flex;
    align-items: center;
    gap: 3px; /*Ele espaça sem desconfigurar a div*/
}
#link i{
    font-size: 22px;
}
#link .rodar{
    display: inline-block;
    transform: rotate(90deg); /*"deg" é o grau*/
}
.secundario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-right: 35px;
}
.secundario button{
    background: none;
    border: none;
}
.secundario i{
    background-color: none;
    font-size: 22px;
}
.secundario a{
    text-decoration: none;
}
.secundario img{
    width: 30px;
}
.secundario #assinar{
    background-color: #1a98ff;
    border-radius: 10px;
    padding: 11px 13px;
    font-size: 16px;
}
.secundario #assinar:hover{
    background-color: rgb(56, 158, 241);
}
